.PostInformationDetails {
    text-align: left;

}
.PostInformationDetails .inform-details {
    display: grid;
    grid-template-areas: 
    'title title'
    'image image'
    'description description'
    'available available'
    'price price'
    'prints prints';
    gap: 30px;
    color: #e0e0e0;
    font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
}

.PostInformationDetails .inform-details .title {
    font-size: 36px;
    grid-area: title;
    width: 100%;
}

.PostInformationDetails .inform-details .description span {
    white-space: normal;
}

.PostInformationDetails .inform-details .description {
    font-size: 18px;
    grid-area: description;
    width: 100%;
    margin: 6px;
}

.PostInformationDetails .inform-details .prints {
    grid-area: prints;
}
.PostInformationDetails .inform-details .prints a {
    color: #e0e0e0;
}

.PostInformationDetails .inform-details .available {
    font-size: 24px;
    grid-area: available;
    width: 100%;
}

.PostInformationDetails .inform-details .price {
    font-size: 24px;
    grid-area: price;
    width: 100%;
}

.PostInformationDetails .inform-details .post-image {
    grid-area: image;
    margin: 0 auto;
    text-align: center;
}

.PostInformationDetails .inform-details .post-image .horizontal {
    width: 100%;
    height: 90%;
}

.PostInformationDetails .inform-details .post-image .vertical {
    width: 90%;
    height: 100%;
}

.PostInformationDetails .inform-details .post-image img {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
    .PostInformationDetails .inform-details {
        display: grid;
        grid-template-areas: 
        'image image'
        'title title'
        'description description'
        'available price';
        gap: 6px;
        color: #e0e0e0;
    }
    .PostInformationDetails .inform-details .title {
        font-size: 24px;
        grid-area: title;
        width: 100%;
    }
    
    .PostInformationDetails .inform-details .description span {
        white-space: normal;
    }
    
    .PostInformationDetails .inform-details .description {
        font-size: 14px;
        grid-area: description;
        width: 100%;
    }
}