.Posts {
    padding: 60px;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.Posts .filter-nav {
    margin: 0 auto;
    font-size: 2.5em;
    font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
    color: #e0e0e0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.Posts .modal-details .PostInformationDetails {
    background-color: #6b6b6b;
}
.Posts .filter-nav .filter-nav-item {
    cursor: pointer;
}
.Posts .filter-nav .filter-nav-item:hover {
    color: rgb(83, 136, 211);
}

.Posts .posts-list-container {
    display: grid;
    gap: 40px 0;
}

.Posts .posts-list-container .post-details {
    border: solid 1px #bcbcbc;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'disaster-details-area'
}

.Posts .posts-list-container .post-details .disaster-details {
    grid-area: disaster-details-area;
    border-right: 1px solid #bcbcbc;
    text-align: left;
    padding: 10px;
}


@keyframes spinner {
    0% {

    }
    25% {
        
    }
    50% {
        
    }
    75% {
        
    }
    100% {
        
    }
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Posts .posts-list-container .loading-gallery {
    margin: 0 auto;
    color: #e0e0e0;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: solid thin #e0e0e0;
    border-top: none;
    animation: spinner 2s infinite;
}

