.MainContainer {

}

.MainContainer .tabNavContainer {
    display: grid;
    margin: 40px;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px 30px;
    border-bottom: thin solid #e0e0e0;
    color: #e0e0e0;
}
.MainContainer .tabNavContainer .tabItem {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.MainContainer .tabNavContainer .active {
    text-decoration: underline;
}

.MainContainer .tabNavContainer .tabItem:hover {
    color: rgb(83, 136, 211)
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
    .MainContainer .tabNavContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px 10px;
        border-bottom: thin solid #e0e0e0;
        color: #e0e0e0;
    }
    .MainContainer .tabNavContainer .tabItem {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }
}