.About {
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
    color: #e0e0e0;
    grid-template-areas:
        'about-title-area about-title-area'
        'artist-mission-statement-area artist-mission-statement-area'
        'about-image-1-area about-para-1-area'
        'about-image-1-area about-para-2-area'
        'about-image-1-area about-para-3-area';
}

.About .about-title {
    grid-area: about-title-area;
    font-size: 24px;
    text-decoration: underline;
    border-bottom: thin solid #e0e0e0;
}

.About .artist-mission-statement {
    grid-area: artist-mission-statement-area;
    font-size: 22px;
}

.About p {
    text-indent: 40px;
    font-size: 18px;
    white-space: normal;
    text-align: left;
}

.About .about-image-1 {
    grid-area: about-image-1-area;
    width: 100%;
    height: 90%;
    min-width: 300px;
    min-height: 300px;
}

.About .about-para-1 {
    grid-area: about-para-1-area;
}

.About .about-para-2 {
    grid-area: about-para-2-area;
}

.About .about-para-3 {
    grid-area: about-para-3-area;
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
    .About {
        display: grid;
        width: 90%;
        margin: 0 auto;
        gap: 10px;
        color: #e0e0e0;
        grid-template-areas:
            'about-title-area about-title-area'
            'artist-mission-statement-area artist-mission-statement-area'
            'about-image-1-area about-image-1-area'
            'about-para-1-area about-para-1-area'
            'about-para-2-area about-para-2-area'
            'about-para-3-area about-para-3-area';
    }
    
    .About .about-title {
        grid-area: about-title-area;
        font-size: 18px;
        text-decoration: underline;
        border-bottom: thin solid #e0e0e0;
    }

    .About .artist-mission-statement {
        font-size: 16px;
    }
    
    .About p {
        text-indent: 30px;
        font-size: 14px;
        white-space: normal;
        text-align: left;
    }
}