
.modal-details {
    display: block;
    position: sticky;
    width: 100%;
    top: 50px;
    left: 0;
    z-index: 6;
    background-color: #6b6b6b;
    text-align: center;
}

.modal-details .close-button {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 16px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(30, 30, 30, 0.6);
    z-index: 5;
}