.PostsThumbnailGrid {
    text-align: center;
    min-width: 300px;
    display: grid;
    gap: 6rem;
    grid-auto-rows: 200px;
    grid-template-columns: 1fr 1fr 1fr;
}

.PostsThumbnailGrid .thumbnail {
    position: relative;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    cursor: pointer;
    width: 15rem;
    max-height: 10rem;
    transition: 0.3s;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, .3);
}
.PostsThumbnailGrid .thumbnail .thumbnail-details {
    position: absolute;
    background-color: rgba(0,0,0, 0.3);
    color: #FFFFFF;
    padding: 6px;
    font-size: 1rem;
    top: 300px;
    width: 100%;
    text-align: left;
    left: 0px;
    transition: 0.3s;
}

.PostsThumbnailGrid .thumbnail img {
    width: 100%;
}

.PostsThumbnailGrid .thumbnail:hover .thumbnail-details {
    top: 65%;
}

.PostsThumbnailGrid .thumbnail:hover {
    transform: scale(1.1);
    filter: grayscale(100%);
}


@media only screen and (min-width: 275px) and (max-width: 867px) and (-webkit-min-device-pixel-ratio: 2) { 
    .PostsThumbnailGrid {
        text-align: center;
        min-width: 300px;
        display: grid;
        grid-auto-rows: 180px;
        grid-template-columns: 1fr;
    }
    .PostsThumbnailGrid .thumbnail .thumbnail-details {
        position: absolute;
        background-color: rgba(0,0,0, 0.3);
        color: #FFFFFF;
        padding: 6px;
        font-size: 1rem;
        top: 65%;
        width: 100%;
        text-align: left;
        left: 0px;
        transition: 0.3s;
    }
}